:root {
    --main-bg-dark: #111111;
    --color-parrafos: #030303ef; 
    --span-colors: #4d51c7;
    --h1-span-colors: #000000;
    --dark-p-white:rgb(255, 255, 255); 
    --bg-lineas-horizontales:#0000fe;
    --dark-episodios-bg: white;
}